@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}

.text-gray {
    color: rgb(66, 66, 66);
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    border-radius: 6px;

    background: rgb(255, 144, 14);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    padding: 18px 20px;
    font-weight: 600;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}






/* Header Styles */





/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 2rem;
}


.nav-links {}

.nav-item {
    list-style-type: none;
    margin-left: 30px;

}

.nav-link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner {}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;

}

.banner-image {
    width: 100%;
}

/* team and features related styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    margin-left: 100px;
    max-width: 520px;
}

.quick-list {
    color: rgb(114, 114, 114);
    font-weight: 500;

}

#feature {
    color: rgb(255, 144, 14);
    font-weight: 700;
}

.feature-title {
    font-size: 2rem;
}


/* responsive media query */

@media screen and (max-width:576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }
}